<div id="add">
    <form [formGroup]="addForm">
        <h2>Add Product here...</h2>
        <button class="logout" (click)="logout()" title="LogOut" mat-button><mat-icon>logout</mat-icon>Logout</button>
        <div>
            <label for="idNo">Serial No.</label>
            <input type="number" formControlName="idNo" placeholder="Enter Serial no" class="form-control">
        </div>
        <div>
            <label for="Product Name">Product Name</label>
            <input type="text" formControlName="productName" placeholder="Enter Product Name" class="form-control">
        </div>

        <div>
            <label for="product Size">Product Size</label>
            <input type="text" formControlName="productSize" placeholder="Enter Product Size" class="form-control">
        </div>

        <div>
            <label for="product Price">Product Price</label>
            <input type="text" formControlName="productPrice" placeholder="Enter Product Price" class="form-control"><br>
        </div>
    </form>

    <button color="primary" mat-raised-button [disabled]="!addForm.valid"
        (click)=add(addForm.value)>Add/Update</button>
</div>


<table align="center">
    <tr>
        <th>S.no</th>
        <th>Furniture Name</th>
        <th>Size</th>
        <th>Price</th>
        <th></th>
    </tr>
    <tr *ngFor="let furniture of Furniture">
        <td>{{furniture.idNo}}</td>
        <td>{{furniture.productName}}</td>
        <td>{{furniture.productSize}}</td>
        <td>{{furniture.productPrice}}</td>
        <td (click)="delete(furniture.idNo)"><button>Delete</button></td>
    </tr>
</table>