.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logout
{
  position:absolute;
  right: 3%; 
}

.cart
{
  position: absolute;
  right: 10%;
}